@use '../../styles/utils/variables.scss' as *;
@use '../../styles/utils/mixins.scss' as *;
@use '../../styles/utils/fonts.scss' as *;

.card__info,
.card__detailInfo,
.card__buttons {
  width: 100%;
}

.cardLink {
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px;
  gap: 8px;
  border: 1px solid #e2e6e9;
  width: 212px;
  min-height: 439px;
  &__photo {
    width: 148px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  &__info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    &::after {
      content: '';
      width: 148px;
      border: 1px solid #e2e6e9;
      margin-top: 8px;
    }
  }
  &__title {
    font-family: Mont, sans-serif;
    font-size: 14px;
    color: #313237;
    font-weight: 600;
    height: 58px;
    display: flex;
    align-items: flex-end;
  }
  &__price {
    font-size: 22px;
    font-weight: 800;
    color: #313237;
    &__sale {
      font-size: 22px;
      font-weight: 800;
      color: #89939a;
      text-decoration: line-through;
    }
  }
  &__detailInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    height: 77px;
  }
  &__detailInfoItem {
    display: flex;
    justify-content: space-between;
  }
  &__buttons {
    display: flex;
    gap: 8px;
  }
}

.price {
  display: flex;
  flex-direction: row;
  width: 109px;
  justify-content: space-between;
}

.name {
  font-family: Mont, sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #89939a;
}

.detail {
  font-family: Mont, sans-serif;
  font-size: 12px;
  color: #313237;
  font-weight: 700;
}

.add {
  cursor: pointer;
  font-family: Mont, sans-serif;
  font-weight: 700;
  width: 100px;
  height: 40px;
  background-color: #313237;
  color: #fff;
  font-size: 14px;
  border: none;
}

.favourite {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border: 1px solid #b4bdc3;
  &__icon {
    width: 16px;
    height: 16px;
  }
}

@include on-tablet {
  .card {
    width: 237px;
    min-height: 512px;
    &__photo {
      width: 173px;
    }
    &__info::after {
      width: 173px;
    }
  }
  .add {
    width: 125px;
  }
}

@include on-desktop {
  .card {
    width: 272px;
    min-height: 506px;
    &__photo {
      width: 196px;
    }
    &__info::after {
      width: 208px;
    }
  }
  .add {
    width: 160px;
  }
}
